.canvas{
	width: 100%;
	height: 300px;
	border: solid black 1px;
	padding: 20px;
	display: table;
	position: relative;
	float: left;
}
.canvas-default{

}
textarea{
	resize: none;
	font-family: "Source Code Pro";
}
.canvas-edit{
	height: 13em!important;
}
.canvas-modal{
	height: 450px !important;
	width: 100%;
	
	color: white !important;
	background-color: black !important;
}
.button-panel{
	font-size: 1.2em !important;
	color: black !important;
}
.tool-button:hover{
	background-color: #bababa; 
}
.btn-palet{
	min-height: 32px;
}
